<div class="app app-header-fixed bg-bandung">

<!-- Login modal -->
    <div class="wrapper-lg modal-right animated fadeInUp text-center r-sm"
         style="width:350px;margin:-250px 0 0 -200px;">

      <div class="container w-xxl w-auto-xs" >
        <div class="header-signin-sppak">
          <div class="wrapper-lg text-center">
            <img src="img/logo-bdg.png" alt="">
            <p class="m-t-sm m-b-none">Sistem Pencatatan dan </br> Pembuatan Akta Kelahiran</p>
          </div>
        </div>

        <div class="wrapper-lg bg-white r-b-sm">
          <div class="text-center">
            <h4 class="font-bold no-padder m-b-md">Masuk</h4>
          </div>
          <!-- Form -->
          <form name="form" class="form-validation" ng-submit="doLogin(email, password)" role="form">
            <div class="list-group list-group-sm">
              <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" ng-model="email" required>
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" ng-model="password" required>
              </div>
            </div>

            <button type="submit" class="btn btn-lg btn-info-sppak btn-block">Masuk</button>

            <div class="checkbox m-b-md text-left">
              <label class="checkbox-inline m-t-sm">
                <input type="checkbox" checked=""><i></i> Ingat saya
              </label>
            </div>

            <div class="line line-dashed"></div>

            <div class="text-left m-t">
              <a href="index.html" class="b-r padder-md padder-left-none text-info-sppak">Daftar</a>
              <a href="forgot-password-page.html" class="padder-md">Lupa password?</a>
            </div>
          </form> <!-- Form close-->

        </div>
      </div>
    </div> <!--Login modal close-->
</div>
