<div class="app app-header-fixed bg-bandung">

    <!-- Register modal -->
    <div class="wrapper-lg modal-right animated fadeInUp text-center r-sm"
         style="width:400px; margin:-300px 0 0 -200px;">

      <div class="container w-xxl w-auto-xs" >
        <div class="header-signin-sppak">
          <div class="wrapper-lg text-center">
            <img src="img/logo-bdg.png" alt="">
            <p class="m-t-sm m-b-none">Sistem Pencatatan dan </br> Pembuatan Akta Kelahiran</p>
          </div>
        </div>

        <div ng-app="sppak" ng-controller="RegistrasiCtrl" class="wrapper-lg bg-white r-b-sm">
          <div class="text-center">
            <h4 class="font-bold no-padder m-b-md">Pendaftaran Akun</h4>
          </div>
          <!-- Form -->
          <form name="form" class="form-validation">
            <div class="list-group list-group-sm">
              <div class="form-group">
                <input type="text" placeholder="Nomor KTP" class="form-control" ng-model="pengguna.userable_id" required>
              </div>
              <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" ng-model="pengguna.email" required>
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" ng-model="pengguna.password" required>
              </div>
              <div class="form-grup">
                <input type="hidden" ng-init="pengguna.userable_type='MorphPenduduk'" ng-model="pengguna.userable_type" value="MorphPenduduk">
              </div>
            </div>

            <button type="submit" class="btn btn-lg btn-info-sppak btn-block" ng-click="registrasiPenduduk(pengguna)">Daftar</button>

            <!-- <div class="checkbox m-b-md text-left">
              <label class="checkbox-inline m-t-sm">
                <input type="checkbox" checked=""><i></i> Menyetujui ketentuan dan kebijakan
              </label>
            </div> -->

            <div class="line line-dashed"></div>

            <div class="text-left m-t">
              Sudah memiliki akun?
              <a ui-sref="login" class="padder-md padder-left-none text-info-sppak">Masuk</a>
            </div>
          </form> <!-- Form close-->

        </div>
      </div>
    </div> <!-- Register modal close-->
</div>>
