<div class="app app-header-fixed app-aside-hidden">
    <!-- header -->
    <header id="header" class="app-header navbar" role="menu">
        <!-- navbar header -->
        <div class="navbar-header bg-info">
			<button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <!-- brand -->
            <a ui-sref="penduduk" class="navbar-brand text-lt">
                <img src="img/logo.png" alt="." class="large-logo">
            </a>
            <!-- / brand -->
        </div>
        <!-- / navbar header -->

        <!-- navbar collapse -->
        <div class="collapse pos-rlt navbar-collapse bg-info text-uppercase">
            <!-- buttons -->
            <div class="nav navbar-nav hidden-xs"></div>
            <!-- / buttons -->

            <!-- link and dropdown -->
            <ul class="nav navbar-nav hidden-xs">
                <li><a class="{{pageTitle === 'Daftar Permohonan' ? 'bg-blue' : ''}}" ui-sref="penduduk" ui-sref-opts="{reload: true}">Daftar Permohonan</a></li>
                <li><a class="{{pageTitle === 'Pengajuan Permohonan' || pageTitle === 'Ubah Permohonan' ? 'bg-blue' : ''}}" ui-sref="penduduk.permohonan" ui-sref-opts="{reload: true}">Pengajuan Permohonan</a></li>
            </ul>
            <!-- / link and dropdown -->

            <!-- nabar right -->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn-dark" ng-click="logout()">Log Out</a></li>
            </ul>
            <!-- / navbar right -->
        </div>
        <!-- / navbar collapse -->
    </header>
    <!-- / header -->

    <!-- aside -->
    <aside id="aside" class="app-aside bg-dark hidden">
        <div class="aside-wrap">
            <div class="navi-wrap">
                <nav ui-nav class="navi clearfix">
                    <ul class="nav">
                        <li class="hidden-folded m-t text-dark-grey text-xs padder-md padder-v-sm">
                            <h4 class="font-bold">Navigasi</h4>
                        </li>
                        <li class="line1 dg"></li>
                        <li>
                            <a ui-sref="penduduk" class="text-dark-grey">
                                <i class="fa fa-home icon-grey"></i>
                                <span class="font-bold">Daftar Permohonan</span>
                            </a>
                        </li>
                        <li class="line1 dg"></li>
                        <li>
                            <a ui-sref="penduduk.permohonan" class="text-dark-grey">
                                <i class="icon-bdg_dashboard icon-grey"></i>
                                <span class="font-bold">Pengajuan Permohonan</span>
                            </a>
                        </li>
                        <li class="line1 dg"></li>
                        <li>
                            <a class="text-dark-grey" ng-click="logout()">
                                <i class="icon-bdg_dashboard icon-grey"></i>
                                <span class="font-bold">Logout</span>
                            </a>
                        </li>
                        <li class="line1 dg"></li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>
    <!-- / aside -->

    <div ui-view>
        <!-- content -->
        <div id="content" class="app-content" role="main">
            <div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
                <div class="col">
                    <div class="app-content-body ">
                        <div class="bg-light lter">
                            <ul class="breadcrumb bg-grey-breadcrumb m-b-none">
                                <li>
                                    <span class="btn no-shadow">
                                        <i class="icon-bdg_expand1 text"></i>
                                        <i class="icon-bdg_expand2 text-active"></i>
                                    </span>
                                </li>
                                <li><a ui-sref="penduduk">Daftar Permohonan</a></li>
                            </ul>
                        </div>

                        <!-- <div class="bg-light lter b-b wrapper-md padder-md">
                            <h1 class="m-n font-semibold h4 text-grey padder">Daftar Permohonan</h1>
                        </div> -->

                        <div class="wrapper-lg">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="lter b-b wrapper-md padder-md">
                                            <h1 class="m-n font-bold h3 padder">Daftar Permohonan yang <span class="text-warning">Belum Diajukan</span></h1>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabel-histori" class="table table-striped b-t b-light">
                                                <thead>
                                                    <tr>
                                                        <th style="width:100px">Anak Ke</th>
                                                        <th style="width:225px">Nama Anak</th>
                                                        <th style="width:200px">Waktu Lahir</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="kelahiran in daftarKelahiran | orderBy:'anak.anakKe' | filter:{status:0}">
                                                        <td>{{kelahiran.anak.anakKe}}</td>
                                                        <td>{{kelahiran.anak.nama}}</td>
                                                        <td>{{kelahiran.anak.waktuLahir | date : 'd MMM yyyy, pkl. hh:mm'}}</td>
                                                        <td>
                                                            <button class="btn btn-info w100" ng-click="goToEditKelahiran(kelahiran)"><i class="fa fa-pencil"></i> Ubah</button>
                                                            <button class="btn btn-danger" ng-click="deleteKelahiran(kelahiran.id, kelahiran.anak.nama)"><i class="fa fa-trash"></i> Hapus</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="lter b-b wrapper-md padder-md">
                                            <h1 class="m-n font-bold h3 padder">Daftar Permohonan yang <span class="text-info">Sudah Diajukan</span></h1>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabel-histori" class="table table-striped b-t b-light">
                                                <thead>
                                                    <tr>
                                                        <th style="width:100px">Anak Ke</th>
                                                        <th style="width:225px">Nama Anak</th>
                                                        <th style="width:200px">Waktu Lahir</th>
                                                        <th class="w100">Saksi 1</th>
                                                        <th class="w100">Saksi 2</th>
                                                        <th class="w100">InKes</th>
                                                        <th class="w100">Kelurahan</th>
                                                        <th class="w100">Admin</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="kelahiran in daftarKelahiran | orderBy:'anak.anakKe' | filter:{status:1}">
                                                        <td>{{kelahiran.anak.anakKe}}</td>
                                                        <td>{{kelahiran.anak.nama}}</td>
                                                        <td>{{kelahiran.anak.waktuLahir | date : 'd MMM yyyy, pkl. hh:mm'}}</td>
                                                        <td class="{{kelahiran.verifikasiSaksi1 ? 'text-success' : 'text-danger'}}">
                                                            {{(kelahiran.verifikasiSaksi1 ? 'Sudah' : 'Belum')}}
                                                        </td>
                                                        <td class="{{kelahiran.verifikasiSaksi2 ? 'text-success' : 'text-danger'}}">
                                                            {{(kelahiran.verifikasiSaksi2 ? 'Sudah' : 'Belum')}}
                                                        </td>
                                                        <td class="{{kelahiran.verifikasiInstansiKesehatan ? 'text-success' : 'text-danger'}}">
                                                            {{(kelahiran.verifikasiInstansiKesehatan ? 'Sudah' : 'Belum')}}
                                                        </td>
                                                        <td class="{{kelahiran.verifikasiLurah ? 'text-success' : 'text-danger'}}">
                                                            {{(kelahiran.verifikasiLurah ? 'Sudah' : 'Belum')}}
                                                        </td>
                                                        <td class="{{kelahiran.verifikasiAdmin ? 'text-success' : 'text-danger'}}">
                                                            {{(kelahiran.verifikasiAdmin ? 'Sudah' : 'Belum')}}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-default w100" ng-click="goToEditKelahiran(kelahiran)"><i class="fa fa-info"></i> Lihat Detail</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="9" class="text-gray"><i>* Saksi 1, Saksi 2, InKes (Instansi Kesehatan), Kelurahan, dan Admin (Pegawai Disdukcapil) harus melakukan verifikasi sebelum Akta Kelahiran dapat dipublikasikan.</i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="lter b-b wrapper-md padder-md">
                                            <h1 class="m-n font-bold h3 padder">Daftar Permohonan yang <span class="text-danger">Ditolak</span></h1>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabel-histori" class="table table-striped b-t b-light">
                                                <thead>
                                                    <tr>
                                                        <th style="width:100px">Anak Ke</th>
                                                        <th style="width:225px">Nama Anak</th>
                                                        <th style="width:200px">Waktu Lahir</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="kelahiran in daftarKelahiran | orderBy:'anak.anakKe' | filter:{status:3}">
                                                        <td>{{kelahiran.anak.anakKe}}</td>
                                                        <td>{{kelahiran.anak.nama}}</td>
                                                        <td>{{kelahiran.anak.waktuLahir | date : 'd MMM yyyy, pkl. hh:mm'}}</td>
                                                        <td>
                                                            <button class="btn btn-default w100" ng-click="goToEditKelahiran(kelahiran)"><i class="fa fa-info"></i> Lihat Detail</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="lter b-b wrapper-md padder-md">
                                            <h1 class="m-n font-bold h3 padder">Daftar Permohonan yang <span class="text-success">Diterima</span></h1>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="tabel-histori" class="table table-striped b-t b-light">
                                                <thead>
                                                    <tr>
                                                        <th style="width:100px">Anak Ke</th>
                                                        <th style="width:225px">Nama Anak</th>
                                                        <th style="width:200px">Waktu Lahir</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="kelahiran in daftarKelahiran | orderBy:'anak.anakKe' | filter:{status:2}">
                                                        <td>{{kelahiran.anak.anakKe}}</td>
                                                        <td>{{kelahiran.anak.nama}}</td>
                                                        <td>{{kelahiran.anak.waktuLahir | date : 'd MMM yyyy, pkl. hh:mm'}}</td>
                                                        <td>
                                                            <button class="btn btn-default w100" ng-click="goToEditKelahiran(kelahiran)"><i class="fa fa-info"></i> Lihat Detail</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- div app content body -->
                </div>
            </div>
            <!-- end hbox hbox-auto-xs -->


        </div>
        <!-- /content -->
    </div>

    <!-- footer -->
    <footer id="footer" class="app-footer" role="footer">
        <div class="wrapper-md padder-lg b-t bg-light">
            <span class="pull-right">&copy; Copyright Bandung <a ng-click="scrollToTop()" class="m-l-sm text-muted"><i class="icon-bdg_arrow11"></i></a></span> Made with <i class="text-danger fa fa-heart"></i> in Bandung
        </div>
    </footer>
    <!-- / footer -->
</div>
