<div class="app app-header-fixed app-aside-hidden">
    <!-- header -->
    <header id="header" class="app-header navbar" role="menu">
        <!-- navbar header -->
        <div class="navbar-header bg-info">
            <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <!-- brand -->
            <a ui-sref="pegawai" class="navbar-brand text-lt">
                <img src="img/logo-small.png" alt="." class="small-logo hide">
                <img src="img/logo.png" alt="." class="large-logo">
            </a>
            <!-- / brand -->
        </div>
        <!-- / navbar header -->

        <!-- navbar collapse -->
        <div class="collapse pos-rlt navbar-collapse bg-info text-uppercase">
            <!-- buttons -->
            <div class="nav navbar-nav hidden-xs"></div>
            <!-- / buttons -->

            <!-- link and dropdown -->
            <ul class="nav navbar-nav hidden-sm">
                <li>
                    <a class="{{pageTitle === 'Daftar Permohonan' ? 'bg-blue' : ''}}" ui-sref="pegawai" ui-sref-opts="{reload: true}">Daftar Permohonan</a>
                </li>
                <li>
                    <a class="{{pageTitle === 'Statistik' ? 'bg-blue' : ''}}" ui-sref="pegawai.statistik" ui-sref-opts="{reload: true}">Statistik</a>
                </li>
            </ul>
            <!-- / link and dropdown -->

            <!-- nabar right -->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn-dark" ng-click="logout()">Log Out</a></li>
            </ul>
            <!-- / navbar right -->
        </div>
        <!-- / navbar collapse -->
    </header>
    <!-- / header -->

    <!-- aside -->
    <aside id="aside" class="app-aside hidden-xs bg-dark">
        <div class="aside-wrap">
            <div class="navi-wrap">
                <!-- nav -->
                <nav ui-nav class="navi clearfix">
                    <ul class="nav">
                        <li class="hidden-folded m-t text-dark-grey text-xs padder-md padder-v-sm">
                            <span>Navigasi</span>
                        </li>
                        <li>
                            <a ui-sref="pegawai" class="text-dark-grey">
                                <i class="icon-bdg_dashboard icon-grey"></i>
                                <span class="font-bold">Permohonan</span>
                            </a>
                        </li>

                        <li class="line1 dg"></li>
                    </ul>
                </nav>
                <!-- nav -->
            </div>
        </div>
    </aside>
    <!-- / aside -->

    <!-- content -->
    <div ui-view>
        <div id="content" class="app-content" role="main">
            <div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
                <!-- div.col -->
                <div class="col">
                    <!-- div app content body-->
                    <div class="app-content-body ">
                        <div class="bg-light lter">
                            <ul class="breadcrumb bg-grey-breadcrumb m-b-none">
                                <li>
                                    <span class="btn no-shadow">
                                    <!-- <a ui-sref="pegawai" class="btn no-shadow" ui-toggle-class="app-aside-folded" target=".app"> -->
                                        <i class="icon-bdg_expand1 text"></i>
                                        <i class="icon-bdg_expand2 text-active"></i>
                                    <!-- </a> -->
                                    </span>
                                </li>
                                <li><a ui-sref="pegawai">Daftar Permohonan</a></li>
                            </ul>
                        </div>

                        <!-- <div class="bg-light lter b-b wrapper-md padder-md">
                            <h1 class="m-n font-semibold h4 text-grey padder">Daftar Permohonan</h1>
                        </div> -->

                        <div class="wrapper-lg">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading font-semibold">
                                            <h1 class="m-n font-bold h3 padder">Tabel Daftar Permohonan</h1>
                                        </div>
                                        <div class="panel-body no-padder">
                                            <div class="row wrapper-sm form-inline" style="margin: 0">
                                                <div class="col-sm-3">
                                                    <label>
                                                        Pemohon:
                                                        <input type="text" class="input-sm form-control" ng-model="filter.namaPemohon" placeholder="nama pemohon...">
                                                    </label>
                                                </div>
                                                <div class="col-sm-3">
                                                  <label>
                                                      Anak:
                                                      <input type="text" class="input-sm form-control" ng-model="filter.namaAnak" placeholder="nama anak...">
                                                  </label>
                                                </div>
                                              <div class="col-sm-3">
                                                <label>
                                                    InKes:
                                                    <input type="text" class="input-sm form-control" ng-model="filter.namaInKes" placeholder="nama rs/klinik...">
                                                </label>
                                              </div>
                                              <div class="col-sm-3">
                                                <label>
                                                    Kelurahan:
                                                    <input type="text" class="input-sm form-control" ng-model="filter.namaKelurahan" placeholder="nama kelurahan...">
                                                </label>
                                              </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table id="tabel-permohonan" class="table b-t b-light">
                                                    <thead>
                                                        <tr>
                                                            <th>Nama Pemohon</th>
                                                            <th>Nama Anak</th>
                                                            <th>Saksi 1</th>
                                                            <th>Saksi 2</th>
                                                            <th>InKes</th>
                                                            <th>Kelurahan</th>
                                                            <th>Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="{{viewedDetail.id === kelahiran.id ? 'active' : ''}}" dir-paginate="kelahiran in daftarKelahiran | filter:({status:'!0', anak:{nama:filter.namaAnak}, pemohon:{nama:filter.namaPemohon}, instansi_kesehatan:{nama:filter.namaInKes}, kelurahan:{nama:filter.namaKelurahan}}) | itemsPerPage: 10">
                                                            <td>{{kelahiran.pemohon.nama}}</td>
                                                            <td>{{kelahiran.anak.nama}}</td>
                                                            <td class="{{kelahiran.verifikasiSaksi1 ? 'text-success' : 'text-danger'}}">
                                                                {{(kelahiran.verifikasiSaksi1 ? 'Sudah' : 'Belum')}}
                                                            </td>
                                                            <td class="{{kelahiran.verifikasiSaksi2 ? 'text-success' : 'text-danger'}}">
                                                                {{(kelahiran.verifikasiSaksi2 ? 'Sudah' : 'Belum')}}
                                                            </td>
                                                            <td class="{{kelahiran.verifikasiInstansiKesehatan ? 'text-success' : 'text-danger'}}">
                                                                {{(kelahiran.verifikasiInstansiKesehatan ? 'Sudah' : 'Belum')}}
                                                            </td>
                                                            <td class="{{kelahiran.verifikasiLurah ? 'text-success' : 'text-danger'}}">
                                                                {{(kelahiran.verifikasiLurah ? 'Sudah' : 'Belum')}}
                                                            </td>
                                                            <td>
                                                                <div class="btn-group" ng-show="!kelahiran.verifikasiAdmin && kelahiran.status !== 3" role="group">
                                                                    <button type="button"
                                                                        ng-click="verifikasi(kelahiran.id)"
                                                                        ng-disabled="!(kelahiran.verifikasiSaksi1 && kelahiran.verifikasiSaksi2 && kelahiran.verifikasiInstansiKesehatan && kelahiran.verifikasiLurah)"
                                                                        class="btn btn-info w100"
                                                                        style="width:130px">

                                                                        <i class="fa fa-check-square-o"></i> Verifikasi
                                                                    </button>
                                                                    <button type="button"
                                                                        ng-click="tolak(kelahiran.id)"
                                                                        class="btn btn-danger w100">

                                                                        <i class="fa fa-times"></i> Tolak
                                                                    </button>
                                                                </div>
                                                                <button ng-show="kelahiran.status === 3"
                                                                    class="btn btn-danger"
                                                                    style="width:230px"
                                                                    disabled>

                                                                    <i class="fa fa-ban"></i> Ditolak
                                                                </button>
                                                                <button ng-show="kelahiran.verifikasiAdmin"
                                                                    ng-click="cetak(kelahiran)"
                                                                    class="btn btn-success"
                                                                    style="width:230px">

                                                                    <i class="fa fa-floppy-o"></i> Cetak Akta
                                                                </button>
                                                                <button class="btn btn-default" ng-click="viewDetail(kelahiran)"><i class="fa fa-info"></i> Lihat Detail</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-offset-8 col-sm-4 text-right text-center-xs">
                                                    <dir-pagination-controls></dir-pagination-controls>
                                                    <!-- <ul class="pagination pagination-sm m-t-none m-b-none">
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 padder-v"></div>
                            </div>
                        </div>
                    </div>
                    <!-- div app content body -->
                </div>
                <!-- div.col -->
                <div class="col w-ml bg-white-only bg-auto no-border-xs" ng-show="showDetailedPermohonan">
                    <div class="nav-tabs-alt">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a data-target="#tab-1" role="tab" data-toggle="tab">
                                    <i class="fa fa-user text-md text-muted wrapper-xs"></i>Anak
                                </a>
                            </li>
                            <li>
                                <a data-target="#tab-2" role="tab" data-toggle="tab">
                                    <i class="fa fa-users text-md text-muted wrapper-xs"></i>Keluarga
                                </a>
                            </li>
                            <li>
                                <a data-target="#tab-3" role="tab" data-toggle="tab">
                                    <i class="fa fa-eye text-md text-muted wrapper-xs"></i>Saksi
                                </a>
                            </li>
                            <!-- <li class="pull-right">
                                <a ng-click="viewDetail()"><i class="glyphicon glyphicon-remove text-md text-muted wrapper-xs"></i></a>
                            </li> -->
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-1">
                            <div class="wrapper-none">
                                <li class="list-group-item">
                                    <span class="block text-grey l-h-s">Nama</span>
                                    <span class="text12 text-dark font-bold">{{viewedDetail.anak.nama}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Waktu Lahir</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.anak.waktuLahir | date : 'd MMM yyyy, pkl. hh:mm'}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Jenis Lahir</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.anak.jenisLahir}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Instansi Kesehatan</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.instansi_kesehatan.nama}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Penolong Kelahiran</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.anak.penolongKelahiran}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Berat</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.anak.berat}} kg</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Panjang</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.anak.panjang}} cm</span>
                                </li>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-2">
                            <div class="wrapper-none">
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Ayah</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.ayah.nama}}</span>
                                    <span class="text12 text-grey">NIK {{viewedDetail.ayah.id}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Ibu</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.ibu.nama}}</span>
                                    <span class="text12 text-grey">NIK {{viewedDetail.ibu.id}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">ID Kartu Keluarga</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.kartuKeluargaId}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">ID Akta Nikah</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.aktaNikahId}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Kelurahan</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.kelurahan.nama}}</span>
                                </li>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-3">
                            <div class="wrapper-none">
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Saksi 1</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.saksi_satu.pendudukId}}</span>
                                    <span class="text12">
                                        <a href="mailto:{{viewedDetail.saksi_satu.email}}">
                                            {{viewedDetail.saksi_satu.email}}
                                        </a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Saksi 2</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.saksi_dua.pendudukId}}</span>
                                    <span class="text12">
                                        <a href="mailto:{{viewedDetail.saksi_dua.email}}">
                                            {{viewedDetail.saksi_dua.email}}
                                        </a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="text-grey l-h-s">Pemohon</span>
                                    <span class="block text12 text-dark font-bold">{{viewedDetail.pemohon.nama}}</span>
                                    <span class="text12 text-grey">NIK {{viewedDetail.pemohon.id}}</span>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end hbox hbox-auto-xs -->
        </div>
    </div>
    <!-- /content -->

    <!-- footer -->
    <footer id="footer" class="app-footer" role="footer">
        <div class="wrapper-md padder-lg b-t bg-light">
            <span class="pull-right">&copy; Copyright Bandung <a href ui-scroll="app" class="m-l-sm text-muted"><i class="icon-bdg_arrow11"></i></a></span> Made with <i class="text-danger fa fa-heart"></i> in Bandung
        </div>
    </footer>
    <!-- / footer -->
</div>
