<div id="content" class="app-content" role="main">
	<div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
		<!-- div.col -->
		<div class="col">
			<!-- div app content body-->
			<div class="app-content-body ">
				<div class="bg-light lter">
					<ul class="breadcrumb bg-grey-breadcrumb m-b-none">
						<li>
							<span class="btn no-shadow">
							<!-- <a ui-sref="pegawai" class="btn no-shadow" ui-toggle-class="app-aside-folded" target=".app"> -->
								<i class="icon-bdg_expand1 text"></i>
								<i class="icon-bdg_expand2 text-active"></i>
							<!-- </a> -->
							</span>
						</li>
						<li><a ui-sref="pegawai.statistik">Statistik</a></li>
					</ul>
				</div>

				<!-- <div class="bg-light lter b-b wrapper-md padder-md">
					<h1 class="m-n font-semibold h4 text-grey padder">Daftar Permohonan</h1>
				</div> -->

				<div class="wrapper-lg">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading font-semibold">
									<h1 class="m-n font-bold h3 padder">Statistik</h1>
								</div>
								<div class="panel-body no-padder">
									<div class="container">
										<div class="row">
											<div class="col-sm-12 text-center" style="margin-top: 20px">
											    <div class="btn-group">
											        <label class="btn btn-primary"
														ng-repeat="option in settings.filter.options"
														ng-model="settings.filter.selected"
														ng-change="getStatistik()"
														uib-btn-radio="'{{option.value}}'">
														{{option.name}}
													</label>
											    </div>
											</div>
										</div>

										<div class="form-inline text-center" ng-show="settings.filter.selected === 'crudeBirthRate'" style="margin-top: 20px">
											<div class="row">
												<div class="col-sm-3"></div>
												<div class="form-group col-sm-6">
													<label for="tahunAwal" class="control-label">Tahun</label>
													<input id="tahunAwal" type="number" class="form-control" style="width: 75px" required
														ng-model="settings.crudeBirthRate.startYear"
														ng-change="getStatistik()"
													/>
													<label for="tahunAkhir" class="control-label">-</label>
													<input id="tahunAkhir" type="number" class="form-control" style="width: 75px" required
														ng-model="settings.crudeBirthRate.endYear"
														ng-change="getStatistik()"
													/>
												</div>
											</div>
										</div>

										<div class="form-inline text-center" ng-show="settings.filter.selected === 'frekuensiKelahiran'" style="margin-top: 20px">
											<div class="row">
												<div class="col-sm-2"></div>
												<div class="form-group col-sm-8">
													<label for="unitWaktu" class="control-label">Unit Waktu</label>
													<select id="unitWaktu" class="form-control" style="width: 100px"
														ng-model="settings.frekuensiKelahiran.unitWaktu"
														ng-options="u.value as u.name for u in settings.unitWaktu"
														ng-change="getStatistik()"
													/>
													<label for="tanggalAwal" class="control-label">Tanggal</label>
													<input id="tanggalAwal" type="date" class="form-control" style="width: 150px" required
														ng-model="settings.frekuensiKelahiran.startDate"
														ng-change="getStatistik()"
													/>
													<label for="tanggalAkhir" class="control-label">-</label>
													<input id="tanggalAkhir" type="date" class="form-control" style="width: 150px" required
														ng-model="settings.frekuensiKelahiran.endDate"
														ng-change="getStatistik()"
													/>
												</div>
											</div>
										</div>

										<div class="form-inline text-center" ng-show="settings.filter.selected === 'statusPermohonan'" style="margin-top: 20px">
											<div class="row">
												<div class="col-sm-2"></div>
												<div class="form-group col-sm-8">
													<label for="unitWaktu" class="control-label">Unit Waktu</label>
													<select id="unitWaktu" class="form-control" style="width: 100px"
														ng-model="settings.statusPermohonan.unitWaktu"
														ng-options="u.value as u.name for u in settings.unitWaktu"
														ng-change="getStatistik()"
													/>
													<label for="tanggalAwal" class="control-label">Tanggal</label>
													<input id="tanggalAwal" type="date" class="form-control" style="width: 150px" required
														ng-model="settings.statusPermohonan.startDate"
														ng-change="getStatistik()"
													/>
													<label for="tanggalAkhir" class="control-label">-</label>
													<input id="tanggalAkhir" type="date" class="form-control" style="width: 150px" required
														ng-model="settings.statusPermohonan.endDate"
														ng-change="getStatistik()"
													/>
												</div>
											</div>
										</div>

										<div class="row" style="margin: 20px">
											<div class="col-sm-12 text-center">
												<h4>Statistik {{settings.filter.selectedTitle}}</h4>
												<canvas class="chart chart-bar" height="100"
													chart-labels="statistik.labels"
													chart-series="statistik.series"
													chart-data="statistik.data"
													chart-legend="true">
												</canvas>
											</div>
										</div>

										<div class="row" style="margin: 20px">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- div app content body -->
		</div>
	<!-- end hbox hbox-auto-xs -->
</div>
