<html>
<body>

<form action="akta.php" method="post">

NIK (angka): <input type="text" name="nik"><br>
Nomor Akta (angka): <input type="text" name="nomorakta"><br>
Tempat Lahir (str): <input type="text" name="tempatlahir"><br>
Tanggal Lahir (angka): <input type="text" name="tanggallahir"><br>
Bulan Lahir (angka): <input type="text" name="bulanlahir"><br>
Tahun Lahir (angka): <input type="text" name="tahunlahir"><br>
Nama Anak (str): <input type="text" name="namaanak"><br>
Anak Ke (angka): <input type="text" name="anakke"><br>
Jenis Kelamin (L/P): <input type="text" name="jeniskelamin"><br>
Nama Ayah (str): <input type="text" name="namaayah"><br>
Nama Ibu (str): <input type="text" name="namaibu"><br>

<input type="submit">

</form>

</body>
</html>