body {
    background-color: #f4f5f5;
}

.bg-bandung {
    background-image: url('/img/bg-login.jpg');
    background-size: cover;
}

.text-gray {
    color: #999;
}

.btn, a {
    transition: 0.2s all ease;
}

.btn:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.btn .fa {
    margin-right: 5px;
}

.navbar-nav > li {
    background-color: #e91e63;
}

.navbar-header {
    max-height: 73px;
}

.navbar-collapse {
    max-height: 73px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.app-aside-hidden .app-content, .app-aside-hidden .app-footer {
    margin-left: 0;
}

.app-aside-hidden aside {
    display: none;
}

.w100 {
    min-width: 100px;
}

.mh-400 {
    max-height: 400px;
}

.btn-dark {
    background-color: #444;
}

.btn-dark:hover {
    background-color: #000 !important;
}

.bg-info .nav > li > a.btn-dark:hover {
    background-color: #000 !important;
}

ul.pagination {
    margin: 0;
}
