.btn-info {
  background-color: #e91e63;
  border-color: #e91e63;
}

.btn-info:hover {
  background-color: #f06292;
  border-color: #f06292;
}

.header-signin {
  background-color: #e91e63;
}

.bg-login-sppak {
  background-color:#fce4ec;
}

.text-info-sppak {
  color: #e91e63;
}
